{%extends "base.html" %}

{% block title%} CSPOSB {% endblock %}

{% block content%}

    <h1 class="text-center">  PoSB  </h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="background: whitesmoke; padding: 15px; border-radius: 10px">
            <p>This page allows you to build a 4 year plan and then certify that it meets degree requirements.</p>
            <div id="stylized">
                <form action = "#" method="post" name = "builder">
                {% csrf_token %}
                <p>Choose the degree you wish to complete.</p>
                <select id="degree" name="Degree">
                    {% for did, name in degrees %}
                        <option value="{{ did }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <button type="button" class="collapsible">CS Core</button>
                <div class="content">
                    <br>
                    {% for cid, name, numberDept in coreClasses %}
                        <p style="text-align:center"><strong>{{name}}</strong></p>
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <input type="hidden" name="Name" value="{{ name }}">
                                <label for="a">{{numberDept}}</label>
                                <input  name="Classes" type="hidden" value="empty">
                                <input id="a" name="Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="fall">Fall</option>
                                    <option value="spring">Spring</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                        <hr>
                    {% endfor %}
                </div>
                <button type="button" class="collapsible">CS Breadth</button>
                <div class="content">
                    <br>
                    {% for cid, name, numberDept in breadthClasses %}
                        <p style="text-align:center"><strong>{{name}}</strong></p>
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <input type="hidden" name="Name" value="{{ name }}">
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="fall">Fall</option>
                                    <option value="spring">Spring</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                        <hr>
                    {% endfor %}
                </div>
                <button type="button" class="collapsible">CS Depth</button>
                <div class="content">
                    <br>
                    <h3 class="text-center">  Area 1: Software Engineering  </h3>
                    <br>
                    {% for cid, name, numberDept, area in depthClasses %}
                      {% if area == "Software Engineering" %}
                        <p style="text-align:center"><strong>{{name}}</strong></p>
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <input type="hidden" name="Name" value="{{ name }}">
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="fall">Fall</option>
                                    <option value="spring">Spring</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                        <hr>
                      {% endif %}
                    {% endfor %}
                    <br>
                    <h3 class="text-center">  Area 2: Algorithms and Theory  </h3>
                    <br>
                    {% for cid, name, numberDept, area in depthClasses %}
                      {% if area == "Algorithms and Theory" %}
                        <p style="text-align:center"><strong>{{name}}</strong></p>
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <input type="hidden" name="Name" value="{{ name }}">
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="fall">Fall</option>
                                    <option value="spring">Spring</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                        <hr>
                      {% endif %}
                    {% endfor %}
                    <br>
                    <h3 class="text-center">  Area 3: Computer Systems, Networks, and Security  </h3>
                    <br>
                    {% for cid, name, numberDept, area in depthClasses %}
                      {% if area == "Computer Systems, Networks, and Security" %}
                        <p style="text-align:center"><strong>{{name}}</strong></p>
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <input type="hidden" name="Name" value="{{ name }}">
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="fall">Fall</option>
                                    <option value="spring">Spring</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                        <hr>
                      {% endif %}
                    {% endfor %}
                    <br>
                    <h3 class="text-center">  Area 4: Databases and Data Mining  </h3>
                    <br>
                    {% for cid, name, numberDept, area in depthClasses %}
                      {% if area == "Databases and Data Mining" %}
                        <p style="text-align:center"><strong>{{name}}</strong></p>
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <input type="hidden" name="Name" value="{{ name }}">
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="fall">Fall</option>
                                    <option value="spring">Spring</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                        <hr>
                      {% endif %}
                    {% endfor %}
                    <br>
                    <h3 class="text-center">  Area 5: Bioinformatics  </h3>
                    <br>
                    {% for cid, name, numberDept, area in depthClasses %}
                      {% if area == "Bioinformatics" %}
                        <p style="text-align:center"><strong>{{name}}</strong></p>
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <input type="hidden" name="Name" value="{{ name }}">
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="fall">Fall</option>
                                    <option value="spring">Spring</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                        <hr>
                      {% endif %}
                    {% endfor %}
                    <br>
                    <h3 class="text-center">  Area 6: Artificial Intelligence  </h3>
                    <br>
                    {% for cid, name, numberDept, area in depthClasses %}
                      {% if area == "Artificial Intelligence" %}
                        <p style="text-align:center"><strong>{{name}}</strong></p>
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <input type="hidden" name="Name" value="{{ name }}">
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="fall">Fall</option>
                                    <option value="spring">Spring</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                        <hr>
                      {% endif %}
                    {% endfor %}
                </div>
                <button type="button" class="collapsible">CS Tech Elective</button>
                <div class="content">
                  <br>
                  <h3 class="text-center">  Group 1  </h3>
                  <br>
                  {% for cid, name, numberDept, group in techElectiveClasses %}
                      {% if group == 4 %}
                          <p style="text-align:center"><strong>{{name}}</strong></p>
                          <ul style="list-style-type:none; text-align: center">
                              <li>
                                  <input type="hidden" name="Name" value="{{ name }}">
                                  <label for="a">{{numberDept}}</label>
                                  <input type="hidden" name="Classes" value="empty">
                                  <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}">
                                  <select id="sem" name="Semester">
                                      <option value="fall">Fall</option>
                                      <option value="spring">Spring</option>
                                  </select>
                                  <select id="year" name="Year">
                                      <option value="1">1st</option>
                                      <option value="2">2nd</option>
                                      <option value="3">3rd</option>
                                      <option value="4">4th</option>
                                  </select>
                              </li>
                          </ul>
                          <hr>
                       {% endif %}
                    {% endfor %}
                    <br>
                    <h3 class="text-center">  Group 2  </h3>
                    <br>
                    {% for cid, name, numberDept, group in techElectiveClasses %}
                        {% if group == 11 %}
                            <p style="text-align:center"><strong>{{name}}</strong></p>
                            <ul style="list-style-type:none; text-align: center">
                                <li>
                                    <input type="hidden" name="Name" value="{{ name }}">
                                    <label for="a">{{numberDept}}</label>
                                    <input type="hidden" name="Classes" value="empty">
                                    <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}">
                                    <select id="sem" name="Semester">
                                        <option value="fall">Fall</option>
                                        <option value="spring">Spring</option>
                                    </select>
                                    <select id="year" name="Year">
                                        <option value="1">1st</option>
                                        <option value="2">2nd</option>
                                        <option value="3">3rd</option>
                                        <option value="4">4th</option>
                                    </select>
                                </li>
                            </ul>
                            <hr>
                         {% endif %}
                      {% endfor %}
                </div>
                <button type="button" class="collapsible">Engineering</button>
                <div class="content">
                    <br>
                    {% for cid, name, numberDept in engineeringClasses %}
                        <p style="text-align:center"><strong>{{name}}</strong></p>
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <input type="hidden" name="Name" value="{{ name }}">
                                <label for="a">{{numberDept}}</label>
                                <input  name="Classes" type="hidden" value="empty">
                                <input id="a" name="Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="fall">Fall</option>
                                    <option value="spring">Spring</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                        <hr>
                    {% endfor %}
                </div>
                <button type="button" class="collapsible">General</button>
                <div class="content">
                    <br>
                    {% for cid, name, numberDept in generalBreadthClasses %}
                        <p style="text-align:center"><strong>{{name}}</strong></p>
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <input type="hidden" name="Name" value="{{ name }}">
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="fall">Fall</option>
                                    <option value="spring">Spring</option>
                                </select>
                                <option value="1">1st</option>
                                <select id="year" name="Year">
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                        <hr>
                    {% endfor %}
                </div>
                <button type="button" class="collapsible">Sages</button>
                <div class="content">
                    <br>
                    {% for cid, name, numberDept in sagesClasses %}
                        <p style="text-align:center"><strong>{{name}}</strong></p>
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <input type="hidden" name="Name" value="{{ name }}">
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="fall">Fall</option>
                                    <option value="spring">Spring</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                        <hr>
                    {% endfor %}
                </div>
                <br/>
                <p align="right">
                  <input type="submit" value="Submit" >
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  </script>
{% endblock %}
