{%extends "base.html" %}

{% block title%} CSPOSB {% endblock %}

{% block content%}

    <h1 class="text-center">  PoSB  </h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="background: whitesmoke; padding: 15px; border-radius: 10px">
            <p>This allows you to build a 4 year plan and then certify that it meets degree requirements.</p>
            <div id="stylized">
                <form action = "#" method="post" name = "builder">
                {% csrf_token %}
                <button type="button" class="collapsible">CS Core</button>
                <div class="content">
                    {% for cid, name, numberDept in coreClasses %}
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <label for="a">{{numberDept}}</label>
                                <input  name="Classes" type="hidden" value="empty">
                                <input id="a" name="Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="spring">Spring</option>
                                    <option value="fall">Fall</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                <button type="button" class="collapsible">CS Breadth</button>
                <div class="content">
                    {% for cid, name, numberDept in breadthClasses %}
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="spring">Spring</option>
                                    <option value="fall">Fall</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                <button type="button" class="collapsible">CS Depth</button>
                <div class="content">
                    {% for cid, name, numberDept in depthClasses %}
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="spring">Spring</option>
                                    <option value="fall">Fall</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                <button type="button" class="collapsible">CS Tech Elective</button>
                <div class="content">
                    {% for cid, name, numberDept in techElectiveClasses %}
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="spring">Spring</option>
                                    <option value="fall">Fall</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                <button type="button" class="collapsible">General</button>
                <div class="content">
                    {% for cid, name, numberDept in generalBreadthClasses %}
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="spring">Spring</option>
                                    <option value="fall">Fall</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                <button type="button" class="collapsible">Sages</button>
                <div class="content">
                    {% for cid, name, numberDept in sagesClasses %}
                        <ul style="list-style-type:none; text-align: center">
                            <li>
                                <label for="a">{{numberDept}}</label>
                                <input type="hidden" name="Classes" value="empty">
                                <input id="a" name = "Classes" type="checkbox" value="{{ numberDept }}" {{ name }}>
                                <select id="sem" name="Semester">
                                    <option value="spring">Spring</option>
                                    <option value="fall">Fall</option>
                                </select>
                                <select id="year" name="Year">
                                    <option value="1">1st</option>
                                    <option value="2">2nd</option>
                                    <option value="3">3rd</option>
                                    <option value="4">4th</option>
                                </select>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                <br/>
                <input type="submit" value="Submit">
                <br/>
                {% for semester in sems %}
                    {% if semester|length > 1 %}
                            {% for class in semester %}
                            <table style="width:50%;margin-left:auto;margin-right:auto">
                              {% if class == 'Fall Year 1' or class == 'Fall Year 2' or class == 'Fall Year 3' or class == 'Fall Year 4' or class == 'Spring Year 1' or class == 'Spring Year 2' or class == 'Spring Year 3' or class == 'Spring Year 4' %}
                                  <tr>
                                      <th style="text-align:center"><strong>{{ class }}</strong></th>
                                  </tr>
                              {% else %}
                                  <tr>
                                      <td>{{ class }}</td>
                                  </tr>
                              {% endif %}
                          {% endfor %}
                        </table>
                        <br/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  </script>
{% endblock %}
