{% extends "base.html" %}
{% block title%} CSPOSB {% endblock %}
{% block content %}
    <h1>Selected Schedule</h1>

    {% if areReqFulfilled == False %}
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8" style="background: whitesmoke; padding: 15px; border-radius: 10px">
            <p>Selected Schedule:<b> Incomplete</b> <button onclick="location.href='posb'" style="float: right;">Start Again</button></p>
            <p><a href="#courses">Your courses</a> selected on the PoSB page do not meet the program requirements. Hit the start again button to create a new schedule. Scroll below to see your incomplete schedule and needed requirements.</p>
              <div id="stylized">
                <hr>
                  <br>
                  {% for pair in responsePairs %}
                      {% for class, name in pair %}
                          {% if forloop.counter == 1 %}
                              {% if class == 'Fall Year 1' or class == 'Fall Year 2' or class == 'Fall Year 3' or class == 'Fall Year 4' or class == 'Spring Year 1' or class == 'Spring Year 2' or class == 'Spring Year 3' or class == 'Spring Year 4' %}
                                  <table style="width:50%;margin-left:auto;margin-right:auto">
                                  <tr>
                                      <th style="text-align:center"><strong>{{ class }}</strong></th>
                                  </tr>
                              {% endif %}
                          {% else %}
                              <tr>
                                  <td style="text-align:center">{{name}} | {{ class }}</td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                    </table>
                    <br>
                  {% endfor %}

                  <hr>

                  <table style="width:20%;margin-left:auto;margin-right:auto">
                    <tr>
                      <th style="text-align:center"><b>Requirements Not Satisfied</b></th>
                    </tr>
                    {% for req in missingReq %}
                      <tr>
                        <td style="text-align:center">{{req}}</td>
                      </tr>
                    {% endfor %}
                  </table>

                  <hr>

                  <table style="width:20%;margin-left:auto;margin-right:auto">
                    <tr>
                      <th style="text-align:center"><a id="courses"><b>Selected Classes Are</b></a></th>
                    </tr>
                    {% for class in classes %}
                      <tr>
                        <td style="text-align:center">{{class}}</td>
                      </tr>
                    {% endfor %}
                  </table>

                  <hr>

                  <a href="posb" style="text-align:center">Return to Program of Study Builder</a>
                  <br>
              </div>
          </div>
      </div>

    {% else %}
      <p> this is valid schedule </p>
    {% endif %}

{% endblock %}
