{% extends "base.html" %}
{% block title%} CSPOSB {% endblock %}
{% block content %}
    <h1>Selected Schedule</h1>

    {% if areReqFulfilled == False %}
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8" style="background: whitesmoke; padding: 15px; border-radius: 10px">
            <p>Selected Schedule:<b> Incomplete</b> <button onclick="location.href='posb'" style="float: right;">Start Again</button> <button id="btPrint" onclick="createPDF()">Download Schedule</button> </p>
            <p><a href="#courses">Your courses</a> selected on the PoSB page do not meet the program requirements. Hit the start again button to create a new schedule. Scroll below to see your incomplete schedule and needed requirements.</p>
              <div id="stylized">
                <hr>
                  <br>
                  <div id='tab'>
                    {% for pair in responsePairs %}
                        {% for class, name in pair %}
                            {% if forloop.counter == 1 %}
                                {% if class == 'Fall Year 1' or class == 'Fall Year 2' or class == 'Fall Year 3' or class == 'Fall Year 4' or class == 'Spring Year 1' or class == 'Spring Year 2' or class == 'Spring Year 3' or class == 'Spring Year 4' %}
                                    <table style="width:50%;margin-left:auto;margin-right:auto">
                                    <tr>
                                        <th style="text-align:center"><strong>{{ class }}</strong></th>
                                    </tr>
                                {% endif %}
                            {% else %}
                                <tr>
                                    <td style="text-align:center">{{name}} | {{ class }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                      </table>
                      <br>
                    {% endfor %}

                    <hr>

                    <table style="width:20%;margin-left:auto;margin-right:auto">
                      <tr>
                        <th style="text-align:center"><b>Requirements Not Satisfied</b></th>
                      </tr>
                      {% for req in missingReq %}
                        <tr>
                          <td style="text-align:center">{{req}}</td>
                        </tr>
                      {% endfor %}
                    </table>

                    <hr>

                    <table style="width:20%;margin-left:auto;margin-right:auto">
                      <tr>
                        <th style="text-align:center"><a id="courses"><b>Selected Classes Are</b></a></th>
                      </tr>
                      {% for class in classes %}
                        <tr>
                          <td style="text-align:center">{{ name }} | {{class}}</td>
                        </tr>
                      {% endfor %}
                    </table>
                  </div>

                  <hr>

                  <a href="posb" style="text-align:center">Return to Program of Study Builder</a>
                  <br>
              </div>
          </div>
      </div>

    {% else %}
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8" style="background: whitesmoke; padding: 15px; border-radius: 10px">
            <p>Selected Schedule:<b> Complete</b> <button id="btPrint" onclick="createPDF()">Download Schedule</button> </p>
            <p><a href="#courses">Your courses</a> selected on the PoSB page  meet the program requirements.</p>
              <div id="stylized">
                <hr>
                  <br>
                  <div id='tab'>
                    {% for pair in responsePairs %}
                        {% for class, name in pair %}
                            {% if forloop.counter == 1 %}
                                {% if class == 'Fall Year 1' or class == 'Fall Year 2' or class == 'Fall Year 3' or class == 'Fall Year 4' or class == 'Spring Year 1' or class == 'Spring Year 2' or class == 'Spring Year 3' or class == 'Spring Year 4' %}
                                    <table style="width:50%;margin-left:auto;margin-right:auto">
                                    <tr>
                                        <th style="text-align:center"><strong>{{ class }}</strong></th>
                                    </tr>
                                {% endif %}
                            {% else %}
                                <tr>
                                    <td style="text-align:center">{{name}} | {{ class }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                      </table>
                      <br>
                    {% endfor %}

                    <hr>

                    <table style="width:20%;margin-left:auto;margin-right:auto">
                      <tr>
                        <th style="text-align:center"><a id="courses"><b>Selected Classes Are</b></a></th>
                      </tr>
                      {% for class in classes %}
                        <tr>
                          <td style="text-align:center">{{class}}</td>
                        </tr>
                      {% endfor %}
                    </table>
                  </div>

                  <hr>

                  <a href="posb" style="text-align:center">Return to Program of Study Builder</a>
                  <br>
              </div>
          </div>
      </div>
    {% endif %}


    <script>
      function createPDF() {
        var sTable = document.getElementById('tab').innerHTML;

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Profile</title>');   // <title> FOR PDF HEADER.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
      }
    </script>

{% endblock %}
